
.leaflet-popup-content-wrapper {
  background: #16599a;
  opacity: .9;
}
.leaflet-popup-content {
  height: 200px;
  overflow-y: scroll;
  background: #16599a;
  opacity: .9;
  color: white;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: white;
}
