
.leaflet-popup-content-wrapper {
  background: white;
  opacity: .9;
}
.leaflet-popup-content {
  height: 550px !important;
  width: 900px !important;
  overflow-y: scroll;
  background: white;
  opacity: .9;
  color: white;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: white;
}
